This is the new page.

<h1>Create item</h1>

<form action='/items' method='POST'> 
<input type="text" name="item" id="item" autofocus>
<input type="text" name="details" id="details" >
<button>Post item to list</button>



</form>