<h1>Add a new video</h1>

<form action='/videos' method='POST'> 
<input type="text" name="title" id="title" autofocus>
<input type="text" name="description" id="description" >
<button>Add Video</button>



</form>