<h1>Add a new video</h1>

<form action='/videos' method='POST'> 
<p>
<input type="text" name="title" id="title" autofocus>
</p><p>
<input type="text" name="description" id="description" >
</p><p>
<input type="text" name="url" id="url" >
</p><p>
<input type="text" name="genre" id="genre" >
</p><p>

<button>Add Video</button>
</p>



</form>